[submodule "themes/shiro"]
	path = themes/shiro
	url = git@github.com:wikimedia/shiro-wordpress-theme.git
[submodule "plugins/gravityforms"]
	path = plugins/gravityforms
	url = git@github.com:humanmade/gravity-forms.git
