/**
 * Generic and Gravity forms styles.
 *
 * The Gravity Forms CSS is not enqueued so we need to style their fields manually.
 * Stylelint is disabled in multiple places because we need to target gravity
 * forms markup in different ways. :`(
 */

// stylelint-disable selector-class-pattern

@use "sass:math";

@mixin focus-shadow {
	box-shadow: 0px 2px 15px rgba(84, 89, 93, 0.2);
}

// This form uses a bright "UI Red" color than the brand strong red.
$color-red: #ff4242;
$color-green-light: #d5fdf4;
$color-green-active: #00af89;

.gfield_required_asterisk {
	margin: 0.25em;
}

.gform_wrapper {

	@include focus-shadow;
	padding: $space-l;

	.gform_fields {
		display: flex;
		flex-flow: row wrap;
	}

	.gfield {
		position: relative;
		padding: 12px;
		flex-basis: 100%;

		@include mq ( medium ) {
			margin-bottom: 35px;
		}

		&--width-half {
			@include mq( medium ) {
				flex-basis: 45%;
			}
		}

		&--width-third {
			@include mq( medium ) {
				flex-basis: 45%;
			}

			@include mq( large ) {
				flex-basis: 30%;
			}
		}
	}

	.gfield_description {
		font-size: 12px;
		padding: $space-s $space-l;
	}

	.button:focus {
		@include focus-shadow;
	}

	// General input field styles
	input[type="text"],
	input[type="tel"],
	input[type="email"],
	select,
	.gfield_custom_select,
	.gfield_toggle,
	.textarea {
		border-color: $color-input-border;
		border-width: 2px;
		color: $color-black-90;
		font-size: 17px;
		padding: 10px 12px;
	}

	input[type="checkbox"] {
		margin: 0 .5em;
	}

	.gfield_custom_select {
		position: relative;
		padding: 0;

		.gfield_toggle {
			width: 100%;
			height: 45px;
			border: 2px solid #eaecf0;
			margin: 3px 0;
			background-color: transparent;
			text-align: left;
			appearance: none;
			color: #202122;

			// Copied from shiro theme focus for inputs.
			&:focus {
				border-radius: 0.125rem;
				box-shadow: 0 0 0 3px rgba( 0, 125, 250, 0.6 );
				outline: none;
			}

			&:hover {
				@include focus-shadow;
				transform: translateY( 2px );
			}

			// stylelint-disable max-nesting-depth
			.icon {
				width: 1rem;
				position: absolute;
				right: $space-l;
				top: 50%;
				transform: translateY( -50% );
			}
		}

		.gfield_listbox {
			display: none;

			position: absolute;
			top: calc( 100% - 3px );
			width: 100%;
			list-style-type: none;
			margin: 0;
			padding: 0;
			font-size: 17px;
			z-index: 1;

			&.is-opened {
				display: block;
				@include focus-shadow;
			}
		}

		.gfield_option {
			margin-bottom: 0;
			text-overflow: ellipsis;

			button {
				background-color: $color-green-light;
				border-width: 0;
				width: 100%;
				height: 32px;
				font-size: 17px;
				font-weight: 400;
				line-height: 32px;
				padding: 0 12px;
				color: inherit;
				text-align: left;

				&:hover,
				&:focus {
					background-color: $color-green-active;
					color: $color-white;
				}
			}

			&.is-selected button {
				background-color: $color-green-active;;
				color: $color-white;
			}

			+ .gfield_option {
				border-top: 2px solid $color-green-active;
			}
		}
	}

	.textarea {
		/*
		 * This will have javascript applied to allow it
		 * to auto expand height as text falls on to new lines.
		 */
		width: 100%;
		max-width: 980px;
		height: 120px;
		max-height: 50vh;
	}

	input[type="text"]:focus,
	input[type="text"]:active,
	input[type="email"]:focus,
	input[type="email"]:active,
	.textarea:focus,
	.textarea:active {
		// Moves the focus ring so its overlapping the border.
		outline-offset: 0;
	}

	::placeholder {
		color: $color-white;
	}

	fieldset {
		border: 0;
	}

	/*
	 * Gravity form field size settings.
	 * Nested because of how generic the class names are.
	 */
	.small {
		width: 50%;
	}

	.medium {
		width: 75%;
	}

	.large {
		width: 100%;
	}

	.gform_validation_errors {

		.gform_submission_error {
			font-size: 18px;
			color: #ff4242;

		}

		ol li {
			font-size: 14px;
			margin-bottom: 0;
			color: #ff4242;
		}

		.gform_validation_error_link {
			font-size: 14px;
			color: #ff4242;
		}
	}

	.gform_validation_error {
		.validation_error {

		}
	}
}

/*
 * no-descending-specificity disabled as these styles all
 * control how inputs and labels display based on different
 * criteria determined by outer classes being applied.
 *
 * This completely messes with the the descending specificity
 * as it always expects these to come before the more general
 * active / focus styles :`(
 */

/* stylelint-disable no-descending-specificity */

/*
 * Submit button.
 * Floated so that it sits next to the privacy text in forms on desktop.
 */
.gform_footer {
	//height: 45px; // Height fixes container 0 because of float.

	.gform_button {
		background-color: $color-bright-green;
		font-family: var( --font-family-serif );
		font-weight: 700;
		font-size: 17px;
		border-radius: 3px;
		color: $color-black-90;
		padding: 12px;

		&:hover {
			background-color: $color-green;
		}
	}
}

/**
 * Validation.
 */

/*
 * Hidden field for honeypot validation.
 * Set to display none as scr readers should not see this either. Passes validation if left empty.
 */
.gform_validation_container {
	display: none;
}

/*
 * no-descending-specificity disabled as these styles all
 * control how inputs and labels display when validation fails.
 */

/*
 * General validation styles.
 */
.gform_validation_error {
	.gfield_error {
		color: $color-red;

		input[type="text"],
		input[type="email"],
		.textarea,
		label {
			border-color: $color-red;
			color: $color-red;
		}
	}

	.validation_message {
		font-size: 12px;
	}
}

/**
 * Interactions & Validation.
 *
 * With and without javascript specifically
 * Start with if javascript is disabled.
 */

/*
 * no-descending-specificity disabled as these styles can't be grouped
 * in the right order and also wrapped in .js / .no-js without either
 * duplicating a lot of styles or making things overly specific and/or nested too deeply.
 */
.no-js {
	/*
	 * General validation error messages.
	 */
	.gform_validation_error {
		.validation_error {
			background-color: $color-white;
			color: $color-default;
			margin-bottom: $space-l;
			padding: $space-s;
		}
	}

	/*
	 * Set the label to always be small above the input.
	 */
	.gfield_label {
		font-size: 12px;
	}

	.gfield {
		input[type="text"]:focus,
		input[type="text"]:active,
		input[type="email"]:focus,
		input[type="email"]:active,
		.textarea:focus,
		.textarea:active {
			color: $color-yellow;
			border-color: $color-yellow;
		}
	}
}

/*
 * Now with all the js goodness.
 */
body {
	/*
	 * Position the label over the input so that we can animate it up.
	 */
	@include mq( medium ) {
		.gfield_label {
			position: absolute;
			max-width: calc( 100% - 56px ); // account for padding outside and inside inputs.
			transform: translate( 16px, 16px );
			transition: all 300ms ease;
			pointer-events: none;
		}

		// Class applied using javascript.
		.gfield.has-focus,
		.gfield.no-focus-animation {
			.gfield_label {
				transform: scale( math.div( 12, 17 ) ) translateY( -115% );
				transform-origin: top left;
				transition: all 300ms ease;
			}
		}

		// Class applied by js when a field has been populated.
		.has-value {
			.gfield_label {
				transform: translateY( -115% );
			}
		}
	}

	// Allow hiding labels on fields that don't require them
	.hidden_label {
		.gfield_label {
			display: none;
		}
	}

	/*
	 * General validation error messages.
	 * The design doesn't require these but they are still
	 * nice to have for screen readers.
	 */
	.gform_validation_error {
		.validation_error {
		}
	}
}
/* stylelint-enable no-descending-specificity */
