/**
 * Useful mixins for Sound Logo child theme
 *
 * @package soundlogo
 */

@mixin mq($width, $type: min) {
	@if map_has_key( $breakpoints, $width ) {
		$width: map_get( $breakpoints, $width );
		@if $type == max {
			$width: $width - 1px;
		}

		@media only screen and ( #{$type}-width: $width ) {
			@content;
		}
	}
}

@mixin cta_button() {
	border-radius: 2px;
	font-family: var( --font-family-serif );
	font-size: 17px !important;
	font-weight: 700;
	margin-bottom: 0;

	&:hover {
		opacity: 0.9;
		text-decoration: none;
	}
}
