.banner__content {

	h2, h4 {
		font-family: var(--font-family-sans);
		font-weight: 800;

		@include mq( phone ) {
			font-size: 32px;
		}

		@include mq( tablet ) {
			font-size: 42px;
		}

		@include mq( desktop ) {
			font-size: 56px;
		}
	}

	p {
		font-family: var(--font-family-serif);
		font-weight: 400;

		@include mq( phone ) {
			font-size: 17px;
		}
		@include mq( tablet ) {
			font-size: 26px;
		}
	}
}

.spotlight__content > .spotlight__heading {

	font-family: var(--font-family-sans);
	font-weight: 800;

	@include mq( phone ) {
		font-size: 32px;
	}

	@include mq( tablet ) {
		font-size: 42px;
	}

	@include mq( desktop ) {
		font-size: 56px;
	}
}

.spotlight__content {

	p {
		font-family: var(--font-family-serif);
		font-weight: 400;

		@include mq( phone ) {
			font-size: 17px;
		}
		@include mq( tablet ) {
			font-size: 26px;
		}
	}
}

.hero {

	&__kicker {
		font-family: var(--font-family-sans);
		font-weight: 800;

		@include mq( phone ) {
			font-size: 21px;
		}

		@include mq( tablet ) {
			font-size: 32px;
		}
	}

	&__title {
		font-family: var(--font-family-sans);
		font-weight: 800;

		@include mq( phone ) {
			font-size: 32px;
		}

		@include mq( tablet ) {
			font-size: 56px;
		}
	}

	&__intro p {
		font-family: var(--font-family-serif);
		font-weight: 400;
		font-size: 26px;
	}

	&__description p {
		font-family: var(--font-family-serif);
		font-weight: 400;
		font-size: 17px !important;
	}

	&__description p:empty {
		display: none;
	}

	&__cta-button {

		background-position-x: 15px;
		background-position-y: center;
		background-repeat: no-repeat;
		border-radius: 4px;
		font-family: var(--font-family-serif);
		font-size: 17px !important;
		font-weight: 700;
		height: 44px;
		line-height: 30px;
		padding-left: 60px;
		padding-right: 30px;
		width: auto;

		&--no-icon-blue-background {
			color: #FFF !important;
			background-color: #3a25ff;
			padding: .375rem .75rem;
		}

		&--info-icon-gray-background {
			color: #000 !important;
			background-color: #F4F4F4;
			background-image: url("../../assets/images/icon-info.svg");

			&:hover {
				color: #000 !important;
				background-color: #F4F4F4;
			}
		}

		&--info-icon-no-background {
			color: #FFF !important;
			background-color: transparent;
			border: 2px solid white;
			background-image: url("../../assets/images/icon-info.svg");

			&:hover {
				color: #FFF !important;
				background-color: transparent;
			}
		}

		&--expand-icon-gray-background {
			color: #000 !important;
			background-color: #F4F4F4;
			background-image: url("../../assets/images/icon-expand.svg");

			&:hover {
				color: #000 !important;
				background-color: #F4F4F4;
			}
		}

		&:hover {
			opacity: 0.9;
			text-decoration: none;
		}
	}
}
