.banner__content {
	h2,
	h4 {
		font-family: var( --font-family-sans );
		font-weight: 800;
		font-size: 32px;

		@include mq( small ) {
			font-size: 42px;
			font-weight: 800;
		}

		@include mq( large ) {
			font-size: 56px;
		}
	}

	p {
		font-family: var( --font-family-serif );
		font-weight: 400;
		font-size: 17px;

		@include mq( medium ) {
			font-size: 26px;
		}
	}
}

.spotlight__content > .spotlight__heading {
	font-family: var( --font-family-sans );
	font-weight: 800;
	font-size: 32px;

	@include mq( medium ) {
		font-size: 42px;
	}

	@include mq( large ) {
		font-size: 56px;
	}
}

.spotlight__content {
	p {
		font-family: var( --font-family-serif );
		font-weight: 400;
		font-size: 17px;

		@include mq( medium ) {
			font-size: 26px;
		}
	}
}

$column-width: 1192px;

.hero {
	&__header {
		flex-direction: column;
		padding: 60px 20px;
		width: 100vw;
		max-width: $column-width;

		@include mq( small ) {
			padding: 115px 45px;
		}

		//Override breakpoint in shiro theme.
		@include mq( medium ) {
			margin: 0 -40px;
			max-width: unset;
			flex-direction: row;
		}

		@include mq( large ) {
			flex-direction: row;
			align-items: center;
			margin-left: calc( #{$column-width / 2} - 50vw );
			margin-right: calc( #{$column-width / 2} - 50vw );
			padding: 120px calc( 50vw - #{$column-width / 2} );
			box-sizing: content-box;
			max-width: $column-width;
		}
	}

	&__kicker {
		font-family: var( --font-family-sans );
		font-weight: 700;
		font-size: 21px;

		@include mq( small ) {
			font-size: 32px;
			font-weight: 800;
		}
	}

	&__title {
		font-family: var( --font-family-sans );
		font-weight: 800;
		font-size: 32px;

		@include mq( small ) {
			font-size: 56px;
		}

		@include mq( medium ) {
		}
	}

	&__intro p {
		font-family: var( --font-family-serif );
		font-weight: 400;
		font-size: 26px;
	}

	& &__description p {
		font-family: var( --font-family-serif );
		font-weight: 400;
		font-size: 17px;
		margin-bottom: 1.5em;
	}

	&__cta-button {
		@include cta_button();
	}

	&__text-column {
		width: 100%;

		@include mq( large ) {
			width: 50%;
		}
	}

	&__image-container {
		display: block;
		width: 100%;
		margin-top: 50px;

		@include mq( medium ) {
			margin-top: auto;
			margin-bottom: auto;
		}

		@include mq( large ) {
			width: 50%;
		}

		.hero__image {
			width: 100%;
		}
	}
}

/*
 * Adjusting button icon styles of Seeking Sound of Open Source block
 */

.wp-block-button {
    margin-right: 15px!important;
    margin-top: 20px!important;

	&.has-icon .wp-block-button__link {
		padding-right: 25px;
		padding-left: 16px;
		height: 44px;
		display: inline-flex;
		align-items: center;

		&:before {
			background-size: cover;
			min-width: 1.5em;
			height: 22px;
			top: 0px;
		}

		@include cta_button();
	}

	&.is-style-transparent .wp-block-button__link {
		border-width: 3px;
		padding-top: .55rem;
	}
}

/*
 * Adjusting wide alignment for block group to center align 125% wider than the container
 * and center align the block group within the container
  */
 .wp-block-group.alignfull {
	@include mq( large ) {
		width: 126%;
		max-width: 126%;
		margin-left: -13%;
		margin-right: -13%;
		padding-left: 0px;
		padding-right: 0px;
	}
}
