.banner__content {

	h2, h4 {
		font-family: var(--font-family-sans);
		font-weight: 800;

		@include mq( phone ) {
			font-size: 32px;
		}

		@include mq( tablet ) {
			font-size: 42px;
		}

		@include mq( desktop ) {
			font-size: 56px;
		}
	}

	p {
		font-family: var(--font-family-serif);
		font-weight: 400;

		@include mq( phone ) {
			font-size: 17px;
		}
		@include mq( tablet ) {
			font-size: 26px;
		}
	}
}

.spotlight__content > .spotlight__heading {

	font-family: var(--font-family-sans);
	font-weight: 800;

	@include mq( phone ) {
		font-size: 32px;
	}

	@include mq( tablet ) {
		font-size: 42px;
	}

	@include mq( desktop ) {
		font-size: 56px;
	}
}

.spotlight__content {

	p {
		font-family: var(--font-family-serif);
		font-weight: 400;

		@include mq( phone ) {
			font-size: 17px;
		}
		@include mq( tablet ) {
			font-size: 26px;
		}
	}
}

.hero {

	&__kicker {
		font-family: var(--font-family-sans);
		font-weight: 800;

		@include mq( phone ) {
			font-size: 21px;
		}

		@include mq( tablet ) {
			font-size: 32px;
		}
	}

	&__title {
		font-family: var(--font-family-sans);
		font-weight: 800;

		@include mq( phone ) {
			font-size: 32px;
		}

		@include mq( tablet ) {
			font-size: 56px;
		}
	}

	&__intro p {
		font-family: var(--font-family-serif);
		font-weight: 400;
		font-size: 26px;
	}

	&__description p {
		font-family: var(--font-family-serif);
		font-weight: 400;
		font-size: 17px !important;
	}

	&__description p:empty {
		display: none;
	}
}

.hero.hero__cta__button--info-icon-gray-background .cta-button {
	color: #000 !important;
	background-color: #F4F4F4;
	background-image: url("../../assets/images/icon-info.svg");

	&:hover {
		color: #000 !important;
		background-color: #F4F4F4;
	}
}

.hero.hero__cta__button--no-icon-blue-background .cta-button {
	color: #FFF !important;
	background-color: #3a25ff;
	padding: .375rem .75rem;
}

.hero.hero__cta__button--info-icon-no-background .cta-button {
	color: #FFF !important;
	background-color: transparent;
	border: 2px solid white;
	background-image: url("../../assets/images/icon-info.svg");

	&:hover {
		color: #FFF !important;
		background-color: transparent;
	}
}

.hero.hero__cta__button--expand-icon-gray-background .cta-button {
	color: #000 !important;
	background-color: #F4F4F4;
	background-image: url("../../assets/images/icon-expand.svg");

	&:hover {
		color: #000 !important;
		background-color: #F4F4F4;
	}
}
