/**
 * Variables used throughout child theme styles.
 *
 * @package soundlogo
 */

// Color definitions;
$color-white: var( --wp--preset--color--white );
$color-black: var( --wp--preset--color--black );
$color-red: var( --wp--preset--color--strong-red );
$color-yellow: var( --wp--preset--color--strong-yellow );
$color-green: var( --wp--preset--color--strong-green );
$color-bright-green: var( --wp--preset--color--strong-bright-green );
$color-default: var( --wp--preset--color--black );
$color-strong-orange: var( --wp--preset--color--strong-orange );
$color-strong-pink: var( --wp--preset--color--strong-pink );
$color-strong-purple: var( --wp--preset--color--strong-purple );
$color-pale-pink: var( --wp--preset--color--pale-pink );

// stylelint-disable color-no-hex
$color-black-90: #202122;
$color-input-border: #eaecf0;
// stylelint-enable color-no-hex

// Spacing and padding variables.
$space-l: 20px;
$space-s: 10px;

// Media queries
$breakpoints: (
	"small":   480px, // Identified as Mobile on Figma mockup
	"medium":  768px, // Identified as Tablet on Figma mockup
	"large": 1272px, // Identified as Desktop on Figma mockup
);

// CSS variables, to override those in parent theme
:root {
	--font-family-sans: "Montserrat", "Helvetica", "Liberation Sans", "Arial", sans-serif;
	--font-family-sans-alternate: "Helvetica", "Liberation Sans", "Arial", sans-serif;
	--font-family-serif: "Lato", "Arial", sans-serif;
	--font-family-monospace: "Menlo", "Consolas", "Liberation Mono", "Courier New", monospace;
}
