p {
	font-family: var(--font-family-serif);
	font-size: 26px;
	font-weight: 400;
}

h1 {
	font-size: 56px;
	font-family: var(--font-family-sans);
	font-weight: 800;
}

h2 {
	font-size: 42px;
	font-family: var(--font-family-sans);
	font-weight: 700;
}

h3 {
	font-size: 34px;
	font-family: var(--font-family-sans);
	font-weight: 700;
}
